
html
{
    margin: 0px;
}

body
{
    margin: 0px;
    font-family: Helvetica;
    background-color: #EBEBEB;
}

/*Background of the header*/
#HeaderBackground
{
    padding: 0px;
    overflow: auto;
    background: rgb(255,255,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDM1MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,53,40,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(0,53,40,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,53,40,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,53,40,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,53,40,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,53,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#003528',GradientType=0 );
}

/*Header container  - ensure all is centered*/
#HeaderContainer
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}

#LeftHeader
{
    float: left;
    width: 280px;
    padding-left: 10px;
    padding-right: 10px;
}

#MidHeader
{
    float: left;
    width: 774px;
    margin-top: 18px;
}

#RightHeader
{
    width: 280px;
    float: left;
    padding: 10px;
}

.mainMenu
{
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    font-family: 'Calibri';
    background-color: rgba(204,204,204,1);
    box-shadow: 2px 2px 5px black inset;
}

.subMenu
{
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: 'Calibri';
    background-color: rgba(204,204,204,1);
    box-shadow: 2px 2px 5px black inset;
}

.logo
{
    font-family: 'Courier New';
    font-size: 64px;
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

menu
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

    menu li
    {
        display: inline-block;
        min-width: 100px;
        text-shadow: 2px 2px 2px lightyellow;
        padding-left: 5px;
        padding-right: 5px;
    }

        menu li a
        {
            text-decoration: none;
            color: rgba(0,53,40,1);
        }

            menu li a:hover
            {
                color: lightyellow;
                text-shadow: 2px 2px 2px rgba(0,53,40,1);
            }

            menu li a:visited
            {
            }

#TitleContainer
{
    background-color: rgba(0,53,40,1);
}


#Title
{
    width: 1390px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(204,204,204,1);
}

.pageHeader
{
    font-style: normal;
    font-weight: bolder;
    font-family: 'Courier New';
    font-size: 26px;
}

#Container
{
    width: 1397px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    min-height: 800px;
    overflow: auto;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 2px 2px 5px;
}

    #Container #LeftColumn
    {
        float: left;
        width: 280px;
        padding: 10px;
    }

    #Container #MainColumn
    {
        border-left: 1px solid rgb(228, 228, 228);
        border-right: 1px solid rgb(228, 228, 228);
        padding: 10px;
        background-color: #FFFFFF;
        float: left;
        width: 763px;
        min-height: 800px;
        border-top-color: rgb(228, 228, 228);
        border-top-width: 1px;
        border-bottom-color: rgb(228, 228, 228);
        border-bottom-width: 1px;
    }

        #Container #MainColumn #BlogContent
        {
            border: solid;
            border-color: rgb(228, 228, 228);
            border-width: 1px;
        }

    #Container #RightColumn
    {
        width: 280px;
        float: left;
        padding: 10px;
    }




#BlogContent
{
    border-width: 1px;
    border-color: rgb(228, 228, 228);
    padding: 5px;
}


#Comments
{
    margin-top: 10px;
}

.Popup
{
    margin-left: auto;
    margin-right: auto;
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    width: 600px;
    border: solid;
    border-width: 1px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.Button
{
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    width: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

.ButtonZone
{
    text-align: right;
    margin-top: 8px;
}

.CommentButton
{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    min-width: 100px;
    text-shadow: 2px 2px 2px white;
    width: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

.CommandButton
{
    font-weight: bold;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    text-align: center;
    min-width: 50px;
    text-shadow: 2px 2px 2px white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}
/*styles for accordion*/
.MenuButton
{
    text-decoration: none;
}

    .MenuButton:hover
    {
        text-decoration: underline;
    }


.MenuHeader
{
    cursor: pointer;
}


/*styles for fields and textboxes*/
.label
{
    display: inline-block;
    width: 200px;
}

.listview table
{
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.listview th
{
    text-align: left;
    color: white;
    font-weight: bold;
    background-color: slategray;
    padding: 5px;
    padding: 5px;
    border-collapse: collapse;
    border-style: none solid none solid;
    border-width: 1px;
    border-color: black;
}

.listview td
{
    padding: 5px;
    min-width: 100px;
    max-width: 600px;
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.detailsview
{
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}


.detailsview, td
{
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
}




/*styles for "partlets"*/
.partlet
{
    border: solid;
    border-color: rgb(228, 228, 228);
    border-width: 1px;
    padding: 5px;
    margin-bottom: 10px;
}

    .partlet h3
    {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

/*styles for the content*/

.myTable
{
    border-collapse: collapse;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

    .myTable th
    {
        text-align: left;
        color: white;
        font-weight: bold;
        background-color: slategray;
        padding: 5px;
        padding: 5px;
        border-style: none solid none solid;
        border-width: 1px;
        border-color: black;
    }

    .myTable td
    {
        padding: 5px;
        min-width: 100px;
        max-width: 600px;
        border-style: none solid none solid;
        border-width: 1px;
        border-color: black;
    }
