
html
{
    margin: 0px;
}

body
{
    margin: 0px;
    font-family: Helvetica;
    background-color: #EBEBEB;
}

#HeaderContainer
{
    padding: 0px;
    overflow: auto;
    background: rgb(255,255,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDM1MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,53,40,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(0,53,40,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,53,40,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,53,40,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,53,40,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(0,53,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#003528',GradientType=0 );
}

    #HeaderContainer #MainHeader
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1400px;
    }

    #HeaderContainer #LeftHeader
    {
        font-family: 'Courier New';
        font-size: 64px;
        float: left;
        width: 280px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
        color: white;
    }

    #HeaderContainer #MidHeader
    {
        border: 1px;
        border-color: black;
        border-style: solid;
        float: left;
        width: 774px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
        font-size: 30px;
        margin-top: 18px;
        color: white;
        font-family: 'Calibri';
        background-color: rgba(204,204,204,1);
        box-shadow: 2px 2px 5px black inset;
    }

    #HeaderContainer #RightHeader
    {
        width: 280px;
        float: left;
        padding: 10px;
    }

    #HeaderContainer menu
    {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
    }

        #HeaderContainer menu li
        {
            display: inline-block;
            min-width: 100px;
            text-shadow: 2px 2px 2px lightyellow;
        }

            #HeaderContainer menu li a
            {
                text-decoration: none;
                color:rgba(0,53,40,1);
            }

                #HeaderContainer menu li a:hover
                {
                    color: lightyellow;
                    text-shadow: 2px 2px 2px rgba(0,53,40,1);
                }

                #HeaderContainer menu li a:visited
                {
                    
                }

#TitleContainer
{
    background-color: rgba(0,53,40,1);
}


#Title
{
    width: 1390px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New';
    font-size: 26px;
    color: rgba(204,204,204,1);
    font-style: normal;
    font-weight: bolder;
    padding-left: 10px;
}

#Container
{
    width: 1397px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    min-height: 800px;
    overflow: auto;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 2px 2px 5px;
}

    #Container #LeftColumn
    {
        float: left;
        width: 280px;
        padding: 10px;
    }

    #Container #MainColumn
    {
        border-width: 1px;
        border-color: rgb(228, 228, 228);
        padding: 10px;
        background-color: #FFFFFF;
        float: left;
        width: 774px;
        min-height: 800px;
        border-right-style: solid;
        border-left-style: solid;
    }

        #Container #MainColumn #BlogContent
        {
            border: solid;
            border-color: rgb(228, 228, 228);
            border-width: 1px;
        }

    #Container #RightColumn
    {
        width: 280px;
        float: left;
        padding: 10px;
    }



#ButtonZone
{
    text-align: right;
    margin-bottom: -10px;
    margin-top: 10px;
}



#Comments
{
    margin-top: 10px;
}

#Popup
{
    margin-left: auto;
    margin-right: auto;
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    width: 600px;
    border: solid;
    border-width: 1px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.Button
{
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    text-shadow: 2px 2px 2px white;
    width: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

.CommentButton
{
    font-weight: bold;
    padding: 10px;
    text-align: center;
    min-width: 100px;
    text-shadow: 2px 2px 2px white;
    width: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

/*styles for accordion*/
.MenuButton
{
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

.MenuHeader
{
    cursor: pointer;
}


/*styles for fields and textboxes*/
.label
{
    display: inline-block;
    width: 200px;
}


/*styles for "partlets"*/
.partlet
{
    border: solid;
    border-color: rgb(228, 228, 228);
    border-width: 1px;
}


/*styles for the content*/
.myTable
{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

    .myTable tr
    {
    }

    .myTable th
    {
        text-align: left;
        color: white;
        font-weight: bold;
        background-color: slategray;
        padding: 5px;
        padding: 5px;
        border-style: none solid none solid;
        border-width: 1px;
        border-color: black;
    }

    .myTable td
    {
        padding: 5px;
        border-style: none solid none solid;
        border-width: 1px;
        border-color: black;
        min-width: 100px;
        max-width: 600px;
    }
